<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="notifsManager">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Notification Dashboard</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Log Notification <span class="label label-info">{{ notifs.length }}</span></h1>
        </div>

        <!-- Notification LIST -->
        <div id="notif-list" class="row">		
				<div class="form-group">					
					<h2>Data</h2>
                <!-- LOOP OVER THE Notification IN $scope.notifs -->
				<table class="table table-striped" width="90%">
					<colgroup>
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="*" />
					</colgroup>
					<tr>
						<th>
							Device ID
						</th>
						<th>
							User ID
						</th>
						<th>
							Date Access
						</th>
						<th>
							IP Address
						</th>
						<th>
							Message
						</th>
						<th>
							Status
						</th>
					</tr>
					<tr ng-repeat="notif in notifs">
						<td>
							{{ notif.device_id }}
						</td>
						<td>
							{{ notif.user_id }}
						</td>
						<td>
							{{ notif.date_access }}
						</td>
						<td>
							{{ notif.ip_address }}
						</td>
						<td>
							{{ notif.message }}
						</td>
						<td>
							{{ notif.status }}
						</td>
					</tr>
				</table>
        </div>

    </div>

</body>
</html>